<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.17" targetFramework="wpa81" />
  <package id="Fody" version="1.27.1" targetFramework="wpa81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="PropertyChanged.Fody" version="1.49.0" targetFramework="wpa81" developmentDependency="true" />
  <package id="SocketIoClientDotNet" version="0.9.10" targetFramework="wpa81" />
</packages>